<portfolio-section-wrapper id="contact" header="Get in touch with me">
  <div class="flex flex-col md:flex-row">
    <p class="md:w-1/2">
      If you'd like to talk to me about
      employment opportunities, my Github projects,
      or anything in between; contact me in your preferred
      method below!
    </p>
    <div class="md:w-1/2 flex flex-col items-center gap-4 pt-4">
      <a class="p-button w-3/4 md:w-1/2" href="mailto:jbmitchell747@gmail.com">Email Me!</a>
      <a class="p-button w-3/4 md:w-1/2" href="https://github.com/jbmitchell7" target="_blank">My Github Profile</a>
      <a class="p-button w-3/4 md:w-1/2" href="https://www.linkedin.com/in/jakebmitchell/" target="_blank">Connect on LinkedIn</a>
    </div>
  </div>
</portfolio-section-wrapper>