<div id="home" class="flex flex-col gap-1 justify-center items-center min-h-screen">

  <div class="flex flex-col items-center gap-4">
    <img src="img/jakesportrait.jpg" alt="Jake Mitchell Portrait" class="w-36 md:w-96 rounded-full" />
    <h1>Jake Mitchell</h1>
    <div class="flex gap-4">
      <a href="mailto:jake@thundercloud.dev" class="p-button">
        <i class="fa-solid fa-envelope"></i>
      </a>
      <a class="p-button" href="https://github.com/jbmitchell7" target="_blank">
        <i class="fa-brands fa-github"></i>
      </a>
      <a class="p-button" href="https://www.linkedin.com/in/jakebmitchell/" target="_blank">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
  <div class="flex flex-col items-center absolute bottom-[10px]">
    <p>Scroll Down</p>
    <svg class="mouse-svg mr-2" width="40" height="45">
      <ellipse cx="25" cy="25" rx="14" ry="18" stroke="#38bdf8" strokeWidth="2" fill="none" />
      <circle class="mouse-wheel" cx="25" cy="15" r="2" fill="#38bdf8" />
    </svg>
  </div>
</div>