<portfolio-section-wrapper id="about" header="About Me">
  <div class="flex flex-col md:flex-row justify-between gap-8">
    <p class="md:w-1/3">{{aboutMe}}</p>
    <div class="flex flex-col items-center gap-8">
      <div class="flex flex-wrap justify-center gap-3">
        @for (skill of jobSkills; track skill.title) {
        <a [href]="skill.link">
          <img [src]="skill.logo" alt="skill logo" class="h-16" />
        </a>
        }
      </div>

      <a class="p-button" href="resume.pdf" target="_blank">Download Full Resume</a>
    </div>
  </div>
</portfolio-section-wrapper>